.contrast__hero {
  display: flex;
}

.contrast__hero-content {
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.contrast__hero-content h1 {
  margin-bottom: 0.5rem;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 61px;
  color: #1c2321;
}

.contrast__hero-content p {
  margin-bottom: 2rem;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #595959;
}

.contrast__hero-p {
  margin-top: 3rem;
}

.contrast__hero-logos {
  display: flex;
  gap: 1.5rem;
}

.contrast__hero-logos img {
  width: 2rem;
  height: 1.5rem;
}

.contrast__hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contrast__hero-image img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .contrast__hero-content {
    margin-right: 2rem;
  }
  .contrast__hero {
    flex-direction: column;
  }
  .contrast__hero-content {
    width: 100%;
    margin-right: 0;
  }
  .contrast__hero-image {
    width: 30rem;
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 768px) {
  .contrast__hero-image {
    display: none;
  }
  .contrast__hero-content {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .contrast__hero-content h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
  }
}
