.contrast__header {
  margin: 2.5rem 9.375rem 5rem 9.375rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contrast__header-nav_left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contrast__header-nav_left img {
  width: 6.75rem;
}

.contrast__header-nav_left p {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #595959;
}

.contrast__header-nav_right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.contrast__header-nav_input {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 48px 18px 24px;
  background: #f3f3f4;
  border-radius: 5px;
  outline: none;
  border: none;

  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #9f9ea6;
}

.contrast__header-nav_btn {
  width: 12.25rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 10px;
  background: #4d13d1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contrast__header-nav_btn span {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
}

.contrast__header-nav_menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.contrast__header-nav_menu svg {
  cursor: pointer;
}

.contrast__header-navmenu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #fff;
  padding: 2rem;
  position: absolute;
  gap: 40px;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
  .gpt3__navbar-links_container {
    display: none;
  }
  .gpt3__navbar-menu {
    display: flex;
  }
  .contrast__header-nav_menu {
    display: flex;
  }
  .contrast__header-nav_right {
    display: none;
  }
  .contrast__header {
    margin: 0 4rem 5rem 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .contrast__header {
    margin: 2.5rem;
  }
}
