.contrast__footer {
  display: flex;
  gap: 5.5rem;
}

.contrast__footer-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 0.5rem;
}

.contrast__footer-logo {
  width: 6.75rem;
}

.contrast__footer-text p {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #595959;
}

.contrast__footer-links {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
}

.contrast__footer-links_div h4 {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}

.contrast__footer-links_div p {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #595959;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .contrast__footer {
    flex-direction: column;
    gap: 3rem;
  }
  .contrast__footer-content {
    width: 100%;
  }
}
